.header .navbar {
  background-color: transparent !important;
}

.navbar {
  float: right;
}

.fondo {
  background-color: black;
  color: whitesmoke;
}

.logo {
  height: 40px;
}

body {
  background-color: #080415;
  font-family: "Montserrat";
}

.icono {
  text-align: center;
}

.padding-card {
  width: 18rem;
  left: 5px;
  right: 5px;
}

.tamaño {
  height: 170px;
}

footer a {
  color: white;
}
footer h3 {
  color: white;
  margin-top: 7px;
}
.icon-top {
  margin-top: 15px;
}
