.header{
    background: url(../img/carousel1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh; 
}

.header .navbar{
    background-color: transparent !important;
    
}

.navbar{
    float: right;
}

.fondo{
    background-color: black;
    color:whitesmoke ;

}
 
.logo{
    height: 40px;
}